* {
    background-color: #F5F5DC;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

h1 {
    font-size: 36px;
    text-align: center;
    border: 5px;
    margin-bottom: 50px;
    border-color: black;
    border-width: 20px;
    border-bottom: 1rem solid;
    padding-bottom: 25px;

    
}

#lasagnalink, #guaclink, #buffalolink, #nachoslink {
    background-color: rgb(255, 187, 0);
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px dashed;
    border-color: green;
    border-width: 1px;
   
}

.mainmenu li {
    margin-bottom: 50px;
    margin-left: 45%;
    padding: 0;
}



.recipeimages {
    margin-left: 40%;
    height: 250px;
    width: 250px;
    margin-bottom: 50px;
}

.headings {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.ingrident {
margin-left: 35%; 
border: solid;
border-color: black;
inline-size: 25rem;
    
 
 
}

.ingrident.unordered {
    font-style: italic;
    border-style: dotted;
    
}

.ingridient.ordered {
    font-size: 16px;
    border-style: dashed;
    
}


.desc {
    text-align: center;
    border: solid;
    border-color: black;
    padding: 15px;
}

.headings.description {
    border-top: 1rem solid;
    padding-top: 15px;
}